.hero {
    display: block;

    max-width: 1600px;

    margin-left: auto;
    margin-right: auto;

    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;

    @media screen and (max-width: 767px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/bg-hero-480.jpg');
        height: 400px;
        max-width: 768px;
        background-size: 480px 400px;

        @media screen and (min-device-pixel-ratio: 2) {
            .hero {
                background-image: url('../images/bg-hero-960.jpg');
            }
        }
    }

    @media screen and (max-width: 1199px) {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/bg-hero-768.jpg');
        height: 400px;
        max-width: 1200px;
        background-size: 768px 400px;

        @media screen and (min-device-pixel-ratio: 2) {
            .hero {
                background-image: url('../images/bg-hero-1536.jpg');
            }
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/bg-hero-1600.jpg');
        height: 600px;
        max-width: 1600px;
        background-size: 1600px 600px;

        @media screen and (min-device-pixel-ratio: 2) {
            .hero {
                background-image: url('../images/bg-hero-3200.jpg');
            }
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 26px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        color: var(--primary-white-color);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;

        max-width: 360px;

        text-transform: uppercase;

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;

            max-width: 700px;
        }
    }
}